@charset "UTF-8";
/* CSS Document */
body {
	background-color: #000000;	
	margin: 0;
}

.header {
margin: 0 0 41px;
height: 170px;
background-color: #333;	
}

ul {
padding: 140px 0 0 0;
	
}
ul li{
	height:40px;
	margin:0 0 0 10px;
	padding: 7px 7px 15px 7px;
display: inline-block;
background-color:#000000;
border-radius: 5px;
}
a {
color: white;
text-decoration: none;
}
ul li:hover{
background-color: #F60;
}

.body {
	position: relative;
	top: -50px;
	height: 700px;
	background-color: #000;	
	color: white;
}
