@charset "UTF-8";
/* CSS Document */
body {
	background-color: #000000;	
	margin: 0;
	color: white;
	width:100%;
}
form{
	margin-left: auto;
	margin-right: auto;
}
.logo{
	margin-left: 50%;
	margin-top: 15px;
	width:100px;
	height:100px;
	float:top;
}

#loginstatus {
	background-color: black;
	float: right;
	border-radius: 5px;
	margin: 0 50px 0 0;
	padding: 0px 10px 0px 10px;
}
.header {
position:relative;
margin: 0 0 41px 0;
width: 100%;
height: 170px;
background-color: #333;
	
}
.heropro {
	border: 2px solid;
	border-color: white;

}

.userpro{
	display: inline-block;
	padding: 10px;
}
table { 
	border-collapse: collapse;
 }
ul {
padding: 10px 0 0 0;
	
}
ul li{
	height:40px;
	margin:0 0 0 10px;
	padding: 7px 7px 15px 7px;
display: inline-block;
background-color:#000000;
border-radius: 5px;
}
a {
color: white;
text-decoration: none;
}
ul li:hover{
background-color: #F60;
}

.body {
	position: relative;
	top: -42px;
	height: auto;
	min-height: 800px;
	background-color: #000;
background-image:url("../images/b1.jpg");
	color: white;
	
}

.content {
	margin: 42px 100px 0px 100px;	
	height: auto;
	min-height: 800px;
	background-color: rgba(0, 0, 0, .7);
	padding: 50px 50px 0 50px;
}
.footer {
	height:60px;
	text-align: center;
	color: white;
}
.text {
	padding: 20px;
	background-color: black;
	float: top;
	height: auto;
	min-height: 800px;
}



