<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>DotA 2 Armory</title>
<link rel="stylesheet" href="../css/style.css" type="text/css">
</head>
<body>
<div class="header">
<ul>
				<li class="selected">
					<a href="heroes.html"><span>H</span>eroes</a>
				</li>
				<li>
					<a href="items.html"><span>I</span>tems</a>
				</li>
				<li>
					<a href="players.html"><span>P</span>layers</a>
				</li>
				<li>
					<a href="matches.html"><span>M</span>atches</a>
				</li>
				<li style="margin: 0 0 0 800px">
					<a href="login.php"><span>L</span>ogin</a>
				</li>
				<li>
					<a href="register.php"><span>R</span>egsiter</a>

				</li>
			</ul>
					<div class="body">

                    </div>
</div>
</body>
</html>
